* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Work Sans';
    box-sizing: border-box;
}

body {
    background-color: #181818;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 10px -1px #ff004c;
    align-items: center;
    padding: 1.5rem;
    border: 2px solid #ff004c;
    flex-direction: column;
}

.image-1 {
    position: absolute;
    filter: drop-shadow(2px 2px 3px #ff004c);
    left: 20px;
    top: 30px
}

.image-2 {
    filter: drop-shadow(2px 2px 3px #ff004c);
    position: absolute;
    right: 20px;
    top: 30px;
}

.cake {
    margin-top: 6rem;
    width: 15rem;
    margin-bottom: 4rem;
    filter: drop-shadow(0 0 10px #ff004c);
}

h1 {
    filter: drop-shadow(2px 3px 5px #ff004c);
    color: #fff;
    text-shadow: 0 0 5px #ff004c;
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
}

p {
    margin-bottom: 3rem;
    margin-top: 2rem;
    color: #fff;
    line-height: 1.6;
    box-shadow: 0 0 17px -1px #ff004c;
    border: 1px solid #ff004c;
    text-shadow: 0 0 5px #ff004c;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
}

.pic {
    box-shadow: 0 0 17px -1px #ff004c;
    width: 15rem;
    margin-bottom: 2rem;
    border-radius: 50%;
}

.divyanshu,.shrishti{
    box-shadow: 0 0 17px -1px #ff004c;
    border: 1px solid #ff004c;
    border-radius: 4px;
}

.flex{
    display: flex;
    gap: 2.5rem;
}

span{
    padding: .5rem;
    border-radius: 5px;
    background-color: #ff004c;
}